.name-container {
    display: flex;
    align-items: center;
}

.task-event-outer-container {
    overflow: auto;
    margin: 4px;
    padding: 4px;
    max-height: 75vh;
}

.task-event-container {
    margin: 4px;
    padding: 4px;
    box-shadow: 0px 0px 10px lightgray;

    &:hover {
        box-shadow: 0px 0px 10px gray;
    }
}

.title-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tasks-events-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.no-events-tasks {
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}

@media (max-width: 768px) {
    .tasks-events-grid{
        grid-template-columns: 100%;
    }
}
