<div class="modal-container">
    <h2> {{day | date}} </h2>
    <h3>Events</h3>
    <div class="task-event-container" *ngFor="let event of events; index as i">
        <div class="name-container">
            <h4>{{event.name}}</h4>
            <button (click)="showEventModal(event)">✎ Edit</button>
        </div>
        <div>Duration: {{event.startDate | date:'short'}} - {{event.endDate | date:'short'}}</div>
        <button (click)="deleteEvent(event)">🗑️ Delete</button>
        <div class="modal-parent" *ngIf="eventShow === event">
            <app-modal (closeClick)="hideEventModal()">
                <app-event-modal (close)="hideEventModal()" [event]="event" [index]="i"></app-event-modal>
            </app-modal>
        </div>
    </div>
    <h3>Tasks</h3>
    <div class="task-event-container" *ngFor="let task of tasks; index as i">
        <div class="name-container">
            <h4>{{task.name}}</h4>
            <button (click)="showTaskModal(task)">✎ Edit</button>
        </div>
        <div>Due Date: {{task.dueDate | date:'short'}}</div>
        <button (click)="deleteTask(task)">🗑️ Delete</button>
        <div class="modal-parent" *ngIf="taskShow === task">
            <app-modal (closeClick)="hideTaskModal()">
                <app-task-modal (close)="hideTaskModal()" [task]="task" [index]="i"></app-task-modal>
            </app-modal>
        </div>
    </div>
</div>