.name-container {
    display: flex;
    align-items: center;
}

.task-event-outer-container {
    overflow: auto;
    margin: 4px;
    max-height: 75vh;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.create-button {
    &.event {
        background-color: rgba(255, 120, 200, 0.8);
    }

    &.task {
        background-color: rgba(230, 135, 34, 0.8);
    }
}

.task-container {
    padding: 4px;
    &:nth-child(even) {
        background-color: rgba(230, 135, 34, 0.1);
    }
    &:nth-child(odd) {
        background-color: rgba(230, 135, 34, 0.2);
    }

    &:hover {
        background-color: rgba(230, 135, 34, 0.3);
    }
    button {
        background-color: rgba(230, 135, 34, 0.8);
    }
}

.event-container {
    padding: 4px;
    &:nth-child(even) {
        background-color: rgba(255, 120, 200, 0.1);
    }
    &:nth-child(odd) {
        background-color: rgba(255, 120, 200, 0.2);
    }

    &:hover {
        background-color: rgba(255, 120, 200, 0.3);
    }
    button {
        background-color: rgba(255, 120, 200, 0.8);
    }
}

.title-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tasks-events-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.no-events-tasks {
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}

@media (max-width: 768px) {
    .tasks-events-grid{
        grid-template-columns: 100%;
    }
}
