#monthTitle {
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    flex-basis: 80%;
}
.month-title-container{
    margin: 4px;
    display: flex;
    align-items: center;
}
.previous,.next{
  flex-basis: 20%;
}
