.month-title-container, .mobile-title-container {
    margin: 4px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.previous, .next {
  font-size: xx-large;
  display: flex;
}

select, input {
  border: 0px;
  cursor: pointer;
  font-size: xx-large;
  width: fit-content;
  box-shadow: 0px 0px 10px lightgray;

  &:hover {
    box-shadow: 0px 0px 10px gray;
  }

}

.mobile-title-container {
  display: none;
}

@media (max-width: 768px)  {
  .mobile-title-container {
      display: flex;
  }
  .month-title-container {
      display: none;
  }
}
