.modal-container {
    background-color: rgb(255, 255, 255);
    margin-left: 5vw;
    margin-right: 5vw;
    position: fixed;
    top: 5vh;
    width: calc(100% - 10vw);
    max-height: calc(100% - 10vh);
    padding: 10px;
    color: black;
    cursor: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 600px) {
    .modal-container {
        margin: 0;
        width: 100%;
    }
}

.close {
    margin-left: auto; 
    margin-right: 0;
    width: fit-content;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: rgba(0,0,0,0.2);
    }
}
