<h1>{{note ? 'Edit' : 'Create'}} Note</h1>
<form [formGroup]="formGroup">
    <div>
        <div>
            <label for="inputTitle">Title <span class="red">* (Required)</span></label>
        </div>
        <div>
            <input id="inputTitle" type="text" formControlName="title">
        </div>
        <div class="errors" *ngIf="formGroup.controls.title.touched && formGroup.controls.title.errors && formGroup.controls.title.errors.required">
            Please enter a title.
        </div>
    </div>
    <div>
        <div>
            <label for="inputText">Text <span class="red">* (Required)</span></label>
        </div>
        <div>
            <textarea id="inputText" type="text" formControlName="text"></textarea>
        </div>
        <div class="errors" *ngIf="formGroup.controls.text.touched && formGroup.controls.text.errors && formGroup.controls.text.errors.required">
            Please enter some text.
        </div>
    </div>
    <button (click)="save()" [disabled]="!formGroup.valid">Save</button>
</form>
