<h1>{{isEdit ? 'Edit' : 'Create'}} Task</h1>
<form [formGroup]="formGroup">
    <div>
        <div class="input-container">
            <div>
                <label for="inputName">Name: <span class="red" *ngIf="!formGroup.controls.name.value">* (Required)</span></label>
            </div>
            <div>
                <input id="inputName" type="text" formControlName="name">
            </div>
        </div>
        <div class="errors" *ngIf="formGroup.controls.name.touched && formGroup.controls.name.errors && formGroup.controls.name.errors.required">
            Please enter a name.
        </div>
    </div>
    <div>
        <div class="input-container">
            <div>
                <label for="inputDate">Due Date: <span class="red" *ngIf="!formGroup.controls.dueDate.value">* (Required)</span></label>
            </div>
            <div>
                <input id="inputDate" type="date" formControlName="dueDate">
            </div>
        </div>
        <div class="errors" *ngIf="formGroup.controls.dueDate.touched && formGroup.controls.dueDate.errors && formGroup.controls.dueDate.errors.required">
            Please enter a valid date.
        </div>
    </div>
    <div>
        <div class="input-container">
            <div>
                <label for="inputTime">Due Time: <span class="red" *ngIf="!formGroup.controls.dueTime.value">* (Required)</span></label>
            </div>
            <div>
                <input id="inputTime" type="time" formControlName="dueTime">
            </div>
        </div>
        <div class="errors" *ngIf="formGroup.controls.dueTime.touched && formGroup.controls.dueTime.errors && formGroup.controls.dueTime.errors.required">
            Please enter a valid time.
        </div>
    </div>
    <div class="recurring-checkbox" (click)="toggleRecurring()">
        <input id="inputReccuring" type="checkbox" formControlName="recurring">
        <label for="inputRecurring">Make Task Recurring</label>
    </div>
    <div *ngIf="formGroup.controls.recurring.value">
        <div class="recurring-frequency">
            <label for="recurringFrequency">Task should repeat: </label>
            <select class="form-control" id="recurringFrequency" formControlName="recurringFrequency">
                <option value="DAILY" selected>Daily</option>
                <option value="WEEKLY">Weekly</option>
                <option value="MONTHLY">Monthly</option>
            </select>
            <span class="red" *ngIf="!formGroup.controls.recurringFrequency.value"> * (Required)</span>
            <label for="recurringUntil"> Until: </label>
            <input id="recurringUntil" type="date" formControlName="recurringUntil">
            <span class="red" *ngIf="!formGroup.controls.recurringUntil.value"> * (Required)</span>
        </div>
        <div class="errors" *ngIf="formGroup.errors && formGroup.errors['dateBeforeRecurringUntil']">
            {{ formGroup.errors['dateBeforeRecurringUntil'] }}
        </div>
    </div>
    <button (click)="save()" [disabled]="!formGroup.valid">Save</button>
</form>