<h1>{{isEdit ? 'Edit' : 'Create'}} Task</h1>
<form [formGroup]="formGroup">
    <div class="input-container">
        <div class="label-right">
            <label for="inputName">Name: </label>
        </div>
        <div>
            <div>
                <input id="inputName" type="text" formControlName="name">
                <span class="red" *ngIf="!formGroup.controls.name.value">* (Required)</span>
            </div>
        </div>
        <div class="errors" *ngIf="formGroup.controls.name.touched && formGroup.controls.name.errors && formGroup.controls.name.errors.required">
            Please enter a name.
        </div>
        <div class="label-right">
            <label for="inputDate">Due Date: </label>
        </div>
        <div>
            <div>
                <input id="inputDate" type="date" formControlName="dueDate">
                <span class="red" *ngIf="!formGroup.controls.dueDate.value">* (Required)</span>
            </div>
            <div class="errors" *ngIf="formGroup.controls.dueDate.touched && formGroup.controls.dueDate.errors && formGroup.controls.dueDate.errors.required">
                Please enter a valid date.
            </div>
        </div>
        <div class="label-right">
            <label for="inputTime">Due Time: </label>
        </div>
        <div>
            <div>
                <input id="inputTime" type="time" formControlName="dueTime">
                <span class="red" *ngIf="!formGroup.controls.dueTime.value">* (Required)</span>
            </div>
            <div class="errors" *ngIf="formGroup.controls.dueTime.touched && formGroup.controls.dueTime.errors && formGroup.controls.dueTime.errors.required">
                Please enter a valid time.
            </div>
        </div>
        <div class="label-right" (click)="toggleRecurring()">
            <label for="inputRecurring">Recurring: </label>
        </div>
        <div>
            <label class="switch">
                <input id="inputRecurring" type="checkbox" formControlName="recurring">
                <span class="slider round"></span>
            </label>
        </div>
        <ng-template [ngIf]="formGroup.controls.recurring.value">
            <div class="label-right">
                <label for="recurringFrequency">Task should repeat: </label>
            </div>
            <div>
                <select class="form-control" id="recurringFrequency" formControlName="recurringFrequency">
                    <option value="DAILY" selected>Daily</option>
                    <option value="WEEKLY">Weekly</option>
                    <option value="MONTHLY">Monthly</option>
                </select>
                <span class="red" *ngIf="!formGroup.controls.recurringFrequency.value">* (Required) </span>
            </div>
            <div class="label-right">
                <label for="recurringUntil"> Until: </label>
            </div>
            <div>
                <input id="recurringUntil" type="date" formControlName="recurringUntil">
                <span class="red" *ngIf="!formGroup.controls.recurringUntil.value">* (Required)</span>
                <div class="errors" *ngIf="formGroup.errors && formGroup.errors['dateBeforeRecurringUntil']">
                    {{ formGroup.errors['dateBeforeRecurringUntil'] }}
                </div>
            </div>
        </ng-template>
    </div>
    <button (click)="save()" [disabled]="!formGroup.valid">Save</button>
</form>