.day-container {
    box-sizing: border-box;
    height: 100px;
    padding: 4px;
    cursor: pointer;

    box-shadow: 0px 0px 10px lightgray;
    margin: 4px;

    &:hover {
        box-shadow: 0px 0px 10px gray;
    }
}

.other-month {
    background-color:  rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.5);
}