<div class="day-container" [ngClass]="{'other-month': this.day.getMonth() !== this.month}" (click)="showDayDetail()">
    {{date}}
    <div *ngIf="numOfEvents">{{numOfEvents}} Event{{ numOfEvents >1 ? 's' : '' }} </div>
    <div *ngIf="numOfTasks">{{numOfTasks}} Task{{ numOfTasks >1 ? 's' : '' }}  </div>
    <div class="modal-parent" *ngIf="showDetail">
        <app-modal (closeClick)="hideDayDetail()">
            <app-day-detail class="detail" (closeClick)="hideDayDetail()" [tasks]=tasks [events]=events [day]=day>
            </app-day-detail>
        </app-modal>
    </div>
</div>
