<h1>{{isEdit ? 'Edit' : 'Create'}} Event</h1>
<form [formGroup]="formGroup">
    <div class="input-container">
        <div class="label-right">
            <label for="inputName">Name: </label>
        </div>
        <div>
            <div>
                <input  id="inputName" type="text" formControlName="name">
                <span class="red" *ngIf="!formGroup.controls.name.value">* (Required)</span>
            </div>
            <div class="errors" *ngIf="formGroup.controls.name.touched && formGroup.controls.name.errors && formGroup.controls.name.errors.required">
                Please enter a name.
            </div>
        </div>
        <div class="label-right">
            <label for="inputDate">Date: </label>
        </div>
        <div>
            <div>
                <input  id="inputDate" type="date" formControlName="date">
                <span class="red" *ngIf="!formGroup.controls.date.value">* (Required)</span>
            </div>
            <div class="errors" *ngIf="formGroup.controls.date.touched && formGroup.controls.date.errors && formGroup.controls.date.errors.required">
                Please enter a valid date.
            </div>
        </div>
        <div class="label-right">
            <label for="inputStartTime">Start Time: </label>
        </div>
        <div>
            <div>
                <input  id="inputStartTime" type="time" formControlName="startTime">
                <span class="red" *ngIf="!formGroup.controls.startTime.value">* (Required)</span>
            </div>
            <div class="errors" *ngIf="formGroup.controls.startTime.touched && formGroup.controls.startTime.errors && formGroup.controls.startTime.errors.required">
                Please enter a valid start time.
            </div>
        </div>
        <div class="label-right">
            <label for="inputEndTime">End Time: </label>
        </div>
        <div>
            <div>
                <input  id="inputEndTime" type="time" formControlName="endTime">
                <span class="red" *ngIf="!formGroup.controls.endTime.value">* (Required)</span>
            </div>
            <div class="errors" *ngIf="formGroup.controls.endTime.touched && formGroup.controls.endTime.errors && formGroup.controls.endTime.errors.required">
                Please enter a valid end time.
            </div>
            <div class="errors" *ngIf="formGroup.errors && formGroup.errors['startTimeBeforeEndTime']">
                {{ formGroup.errors['startTimeBeforeEndTime'] }}
            </div>
        </div>
        <div class="label-right" (click)="toggleRecurring()">
            <label for="inputRecurring">Recurring: </label>
        </div>
        <div>
            <label class="switch">
                <input id="inputReccuring" type="checkbox" formControlName="recurring">
                <span class="slider round"></span>
            </label>
        </div>
        <ng-template [ngIf]="formGroup.controls.recurring.value">
            <div class="label-right">
                <label for="recurringFrequency">Event should repeat: </label>
            </div>
            <div>
                <select class="form-control" id="recurringFrequency" formControlName="recurringFrequency">
                    <option value="DAILY" selected>Daily</option>
                    <option value="WEEKLY">Weekly</option>
                    <option value="MONTHLY">Monthly</option>
                </select>
                <span class="red" *ngIf="!formGroup.controls.recurringFrequency.value">* (Required) </span>
            </div>
            <div class="label-right">
                <label for="recurringUntil"> Until: </label>
            </div>
            <div>
                <input id="recurringUntil" type="date" formControlName="recurringUntil">
                <span class="red" *ngIf="!formGroup.controls.recurringUntil.value">* (Required)</span>
                <div class="errors" *ngIf="formGroup.errors && formGroup.errors['dateBeforeRecurringUntil']">
                    {{ formGroup.errors['dateBeforeRecurringUntil'] }}
                </div>
            </div>
        </ng-template>
    </div>
    <button (click)="save()" [disabled]="!formGroup.valid">Save</button>
</form>
