@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

.modal-parent {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    cursor: auto;
}

.errors {
    color: red;
    margin: 4px;
}

input, label, textarea, button {
    margin: 4px;
}

h1, h2, h3, h4 {
    margin: 0;
}

.red {
    color: red;
}

button {
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    
}

svg {
    flex-shrink: 0;
}

.recurring-checkbox {
    padding: 4px;
    cursor: pointer;
    input, label {
        cursor: pointer;
    }

    &:hover {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    }
}

button {
    border: 0px;
    background-color: rgba(64, 156, 255, 0.8);
    color: white;
    border-radius: 200px;
    padding: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.dangerous {
    background-color: rgba(255, 0, 0, 0.6) !important;
}
