<app-month-title [month]='month' [year]='year' (next)='goToNextMonth()' (previous)='goToPreviousMonth()' (dateChange)="goToMonth($event)"></app-month-title>
<button (click)="showTaskModal()">+ Create New Task</button>
<button (click)="showEventModal()">+ Create New Event</button>
<button (click)="showNoteModal()">+ Create New Note</button>
<div id="dayWrapper">
    <div class="weekday-name">Sunday</div>
    <div class="weekday-name">Monday</div>
    <div class="weekday-name">Tuesday</div>
    <div class="weekday-name">Wednesday</div>
    <div class="weekday-name">Thursday</div>
    <div class="weekday-name">Friday</div>
    <div class="weekday-name">Saturday</div>
    <app-day *ngFor="let day of days" [day]='day' [month]='month'></app-day>
</div>

<div class="modal-parent" *ngIf="taskShow">
    <app-modal (closeClick)="hideTaskModal()">
        <app-task-modal (close)="hideTaskModal()"></app-task-modal>
    </app-modal>
</div>
<div class="modal-parent" *ngIf="eventShow">
    <app-modal (closeClick)="hideEventModal()" *ngIf="eventShow">
        <app-event-modal (close)="hideEventModal()"></app-event-modal>
    </app-modal>
</div>
<div class="modal-parent" *ngIf="noteShow">
    <app-modal (closeClick)="hideNoteModal()" *ngIf="noteShow">
        <app-note-modal (close)="hideNoteModal()"></app-note-modal>
    </app-modal>
</div>