#dayWrapper {
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.weekday-name {
    text-align: center;
}

#mobileView {
    display: none;
}



@media (max-width: 768px)  {
    #mobileView {
        display: block;
        margin-right: 40px;
    }

    #desktopView {
        display: none;
    }
}
